{% extends 'layout/sponsor_base.html' %}

{% from "ui/placeholder.html" import placeholder %}

{% block content %}

<div class="d-flex align-items-center justify-content-center min-h-screen p-2">
    <div class="d-flex flex-column align-items-center align-items-md-start justify-content-center max-w-screen-xl w-full">
        <h1 class="fs-1 fw-bold text-center mb-4">
            Campagns Ad Requests
        </h1>

        <div class="w-full mt-2">
            <div class="accordion w-full" id="ad_request-list-accordion">
                {% if ad_requests|length == 0 %}
                {{ placeholder('There are no campaigns to display.', 'Invite Sponsors') }}
                {% endif %}
                {% for ad_request in ad_requests %}
                <div class="accordion-item border border-border rounded-md overflow-hidden mb-2">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-background text-foreground d-flex flex-column flex-md-row gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ ad_request.id }}" aria-controls="collapse-{{ ad_request.id }}" aria-expanded="false">
                            {{ ad_request.title }}
                            <span class="badge text-bg-warning rounded-pill">{{ ad_request.campaign.niche }}</span>
                        </button>
                    </h2>

                    <div id="collapse-{{ ad_request.id }}" class="accordion-collapse collapse show bg-card text-card-foreground" data-bs-parent="#ad_request-list-accordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Title:</strong> {{ ad_request.title }}
                            </p>

                            <p>
                                <strong>Description:</strong> {{ ad_request.description }}
                            </p>

                            <p>
                                <strong>Requirements:</strong> {{ ad_request.requirements }}
                            </p>

                            <p>
                                <strong>Niche:</strong> <span class="badge text-bg-warning rounded-pill">{{ ad_request.campaign.niche }}</span>
                            </p>

                            <p>
                                <strong>Campaign Name:</strong> {{ ad_request.campaign.title }}
                            </p>

                            <p>
                                <strong>Sponsor Name:</strong> {{ ad_request.sponsor.name }}
                            </p>

                            <div class="modal" tabindex="-1" id="sendCampaignAdRequestDialog-{{ ad_request.id }}">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content bg-card">
                                        <div class="modal-body">
                                            <h5 class="modal-title my-2">New Ad Request</h5>
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                            <div class="mt-2">
                                                {% for category, message in messages %}
                                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                    {{ message }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                            {% endwith %}
                                            <div>
                                                <p>Are you sure you want to apply for this Ad Request?</p>

                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button id="send_ad_request_invite_submit-{{ ad_request.id }}" data-loading="false" type="submit" class="btn btn-primary loader-container" onclick="callApi({ 
                                url: `{{ url_for('influencer.apply', ad_request_id=ad_request.id) }}`,
                                loadingElementId: 'send_ad_request_invite_submit-{{ ad_request.id }}', 
                                options: { method: 'POST' }
                            })">
                                                        <span class="children">Send Request</span>
                                                        {% include 'ui/spinner.html' %}
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sendCampaignAdRequestDialog-{{ ad_request.id }}">Send Request</button>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}