{% extends 'layout/influencer_base.html' %}

{% from "ui/placeholder.html" import placeholder %}

{% block content %}

<div class="d-flex align-items-center justify-content-center min-h-screen p-2">
    <div class="d-flex flex-column align-items-center align-items-md-start justify-content-center max-w-screen-xl w-full">
        <h1 class="fs-1 fw-bold text-center mb-4">
            Welcome, {{ current_user.name }}
        </h1>

        <ul class="nav nav-tabs w-full" role="tablist">
            <li class="nav-item p-2" role="presentation">
                <button class="btn btn-ghost active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active Campaigns</button>
            </li>
            <li class="nav-item p-2" role="presentation">
                <button class="btn btn-ghost" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" type="button" role="tab" aria-controls="requests-tab-pane" aria-selected="false">New Requests</button>
            </li>
        </ul>

        <div class="tab-content w-full mt-2">
            <div class="tab-pane fade show active w-full" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
                <div class="accordion w-full" id="campaigns-list-accordion">
                    {% if campaigns|length == 0 %}
                    {{ placeholder('There are no active campaigns to display. Find new campaigns to apply.', 'Search Campaign', 'influencer.find') }}
                    {% endif %}
                    {% for campaign in campaigns %}
                    <div class="accordion-item border border-border rounded-md overflow-hidden mb-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button bg-background text-foreground d-flex flex-column flex-md-row gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ campaign.id }}" aria-controls="collapse-{{ campaign.id }}" aria-expanded="false">
                                {{ campaign.title }}
                                <span class="badge text-bg-warning rounded-pill">{{ campaign.niche }}</span>
                                {% if campaign.flagged %}
                                <span class="badge bg-danger rounded-pill">Flagged</span>
                                {% endif %}
                            </button>
                        </h2>

                        <div id="collapse-{{ campaign.id }}" class="accordion-collapse collapse show bg-card text-card-foreground" data-bs-parent="#campaigns-list-accordion">
                            <div class="accordion-body">
                                <p>
                                    <strong>Title:</strong> {{ campaign.title }}
                                </p>
                                <p>
                                    <strong>Description:</strong> {{ campaign.description }}
                                </p>
                                <p>
                                    <strong>Payment amount:</strong> <span class="badge text-bg-info rounded-pill">₹ {{ campaign.payment_amount }}</span>
                                </p>
                                <p>
                                    <strong>start_date:</strong> {{ campaign.start_date }}
                                </p>

                                <p>
                                    <strong>end_date:</strong> {{ campaign.end_date }}
                                </p>

                                {% if campaign.flagged %}
                                <p>
                                    <strong>Flagged:</strong> <span class="badge bg-danger rounded-pill">{{ campaign.flagged }}</span>
                                </p>
                                {% endif %}

                                <p>
                                    <strong>Niche:</strong> <span class="badge text-bg-warning rounded-pill">{{ campaign.niche }}</span>
                                </p>
                                <p>
                                    <strong>Requirements:</strong> {{ campaign.requirements }}
                                </p>

                                <p>
                                    <strong>Sponsor Name:</strong> {{ campaign.sponsor.name }}
                                </p>

                                <p>
                                    <strong>Company:</strong> {{ campaign.sponsor.company_name }}
                                </p>

                                <p>
                                    <strong>Sponsor Website:</strong> {{ campaign.sponsor.website }}
                                </p>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
                <div class="accordion w-full" id="requests-list-accordion">
                    {% if new_ad_requests|length == 0 %}
                    {{ placeholder('There are no Ad requests to display. Find new campaigns to apply.', 'Search Campaign', 'influencer.find') }}
                    {% endif %}
                    {% for request in new_ad_requests %}
                    <div class="accordion-item border border-border rounded-md overflow-hidden mb-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button bg-background text-foreground d-flex flex-column flex-md-row gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ request.id }}" aria-controls="collapse-{{ request.id }}" aria-expanded="false">
                                {{ request.title }}
                                <span class="badge text-bg-warning rounded-pill">{{ request.niche }}</span>
                            </button>
                        </h2>

                        <div id="collapse-{{ request.id }}" class="accordion-collapse collapse show bg-card text-card-foreground" data-bs-parent="#requests-list-accordion">
                            <div class="accordion-body">
                                <p>
                                    <strong>Title:</strong> {{ request.title }}
                                </p>
                                <p>
                                    <strong>Description:</strong> {{ request.description }}
                                </p>
                                <p>
                                    <strong>Campaign Name:</strong> {{ request.campaign }}
                                </p>
                                <p>
                                    <strong>Payment amount:</strong> <span class="badge text-bg-info rounded-pill">₹ {{ request.payment_amount }}</span>
                                </p>

                                {% if request.flagged %}
                                <p>
                                    <strong>Flagged:</strong> <span class="badge bg-danger rounded-pill">{{ request.flagged }}</span>
                                </p>
                                {% endif %}

                                <p>
                                    <strong>Niche:</strong> <span class="badge text-bg-warning rounded-pill">{{ request.niche }}</span>
                                </p>
                                <p>
                                    <strong>Requirements:</strong> {{ request.requirements }}
                                </p>

                                <p>
                                    <strong>Sponsor Name:</strong> {{ request.sponsor.name }}
                                </p>

                                <p>
                                    <strong>Company:</strong> {{ request.sponsor.company_name }}
                                </p>

                                <p>
                                    <strong>Sponsor Website:</strong> {{ request.sponsor.website }}
                                </p>

                                {% if request.received %}
                                <div class="modal" tabindex="-1" id="acceptAdRequestFromSponsor-{{ request.id }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content bg-card">
                                            <div class="modal-body">
                                                <h5 class="modal-title my-2">Accept request</h5>
                                                <div class="my-4">
                                                    <p>Are you sure you want to accept this request?</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button id="accept-request-{{ request.id }}-button" data-loading="false" type="button" class="btn btn-primary loader-container" onclick="callApi({url: `{{ url_for('influencer.action', ad_request_id=request.id) }}`, loadingElementId: 'aaccept-request-{{ request.id }}-button', refreshOnSuccess: true, options: { method: 'POST' }});">
                                                    <span class="children">Accept</span>
                                                    {% include 'ui/spinner.html' %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#acceptAdRequestFromSponsor-{{ request.id }}">Accept</button>
                                {% endif %}
                                <div class="modal" tabindex="-1" id="rejectAdRequestFromSponsor-{{ request.id }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content bg-card">
                                            <div class="modal-body">
                                                <h5 class="modal-title my-2">Reject request</h5>
                                                <div class="my-4">
                                                    <p>Are you sure you want to reject this request?</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button id="reject-request-{{ request.id }}-button" data-loading="false" type="button" class="btn btn-danger loader-container" onclick="callApi({url: `{{ url_for('influencer.action', ad_request_id=request.id) }}`, loadingElementId: 'reject-request-{{ request.id }}-button', refreshOnSuccess: true, options: { method: 'DELETE' }});">
                                                    <span class="children">Delete</span>
                                                    {% include 'ui/spinner.html' %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rejectAdRequestFromSponsor-{{ request.id }}">Reject</button>
                                <a href="{{ url_for('sponsor.chat', campaign_id=request.campaign_id, ad_request_id=request.id) }}" class="btn btn-primary">Negotiate</a>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}