<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/css/globals.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/css/ui.css')}}">
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='src/js/globals.js')}}"></script>
    <script src="{{url_for('static',filename='src/js/api.js')}}"></script>
</head>

<body>
    {% include 'ui/nav.html' %}
    {% include 'ui/toast.html' %}

    <div style="padding-top: 5.2rem;">
        {% block content %}{% endblock %}
    </div>
    {% include 'layout/footer.html' %}
</body>

</html>