<nav class="fixed-top border-bottom backdrop-blur-xl w-full">
    <div class="container-xl px-4 mx-auto px-xxl-0 py-3 max-w-screen-xl">
        <div class="d-flex align-items-center justify-content-between">

            <a href="/" class="d-flex gap-3 aign-items-center justify-content-center text-foreground hover:text-muted-foreground dark:hover:text-light">
                <img class="dark:d-none h-8 w-auto" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
                <img class="d-none dark:d-inline-block h-8 w-auto" src="{{ url_for('static', filename='images/logo-dark.png') }}" alt="logo">
                <h4 class="fs-2 fw-semibold px-2">Sponsi</h4>
            </a>

            <div>

                <a href="{{ url_for('auth.signin') }}" class="btn btn-primary">
                    Get Started
                </a>

                {% include 'ui/theme.html' %}
            </div>
        </div>

    </div>
</nav>