<form id="create_or_update_ad_request_form" method="POST">
    <div class="mb-4">
        <label for="title" class="d-block fw-medium mb-2">Title</label>
        <input type="text" required name="title" placeholder="Ad request Title" {% if data.title %} value="{{ data.title }}" {% endif %} aria-label="Title" class="input">
    </div>

    <div class="mb-4">
        <label for="description" class="d-block fw-medium mb-2">Description</label>
        <input type="text" required name="description" placeholder="Ad request description" {% if data.description %} value="{{ data.description }}" {% endif %} aria-label="Description" class="input">
    </div>

    <div class="mb-4">
        <label for="payment_amount" class="d-block fw-medium mb-2">Payment Amount</label>
        <input type="number" required name="payment_amount" placeholder="₹50000" aria-label="payment_amount" class="input" {% if data.payment_amount %} value="{{ data.payment_amount }}" {% endif %}>
    </div>

    <div class="mb-4">
        <label for="requirements" class="d-block fw-medium mb-2">Requirements</label>
        <textarea required name="requirements" placeholder="ad requirements" aria-label="requirements" class="input">{% if data.requirements %}{{ data.requirements }}{% endif %}</textarea>
    </div>

    <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

        <button id="create_or_update_ad_request_form_submit_button" data-loading="false" type="submit" class="btn btn-primary loader-container">
            <span class="children">Post</span>
            {% include 'ui/spinner.html' %}
        </button>
    </div>
</form>