<form id="create_or_update_campaign_form" method="POST">
    <div class="mb-4">
        <label for="title" class="d-block fw-medium mb-2">Title</label>
        <input type="text" required name="title" placeholder="Campaign Title" {% if data.title %} value="{{ data.title }}" {% endif %} aria-label="Title" class="input">
    </div>

    <div class="mb-4">
        <label for="description" class="d-block fw-medium mb-2">Description</label>
        <input type="text" required name="description" placeholder="Campaign description" {% if data.description %} value="{{ data.description }}" {% endif %} aria-label="Description" class="input">
    </div>

    <div class="mb-4">
        <label for="budget" class="d-block fw-medium mb-2">Budget</label>
        <input type="number" required name="budget" placeholder="₹50000" aria-label="budget" class="input" {% if data.budget %} value="{{ data.budget }}" {% endif %}>
    </div>

    <div class="mb-4">
        <label for="start_date" class="d-block fw-medium mb-2">Start Date</label>
        <input type="date" required name="start_date" aria-label="start_date" class="input" {% if data.start_date %} value="{{ data.start_date }}" {% endif %}>
    </div>

    <div class="mb-4">
        <label for="end_date" class="d-block fw-medium mb-2">Expected End Date</label>
        <input type="date" required name="end_date" aria-label="end_date" class="input" {% if data.end_date %} value="{{ data.end_date }}" {% endif %}>
    </div>

    <div class="mb-4">
        <label for="visibility" class="d-block fw-medium mb-2">Is the campaign public or private?</label>
        <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="input d-flex align-items-center p-3 gap-2">
                <input required class="form-check-input" type="radio" name="visibility" id="private" value="private" {% if data.visibility=="private" %} checked {% endif %}>
                <label class="form-check-label ml-2" for="private">Private</label>
            </div>
            <div class="input d-flex align-items-center p-3 gap-2">
                <input required class="form-check-input" type="radio" name="visibility" id="public" value="public" {% if data.visibility=="public" %} checked {% endif %}>
                <label class="form-check-label ml-2" for="public">Public</label>
            </div>
        </div>

    </div>

    <div class="mb-4">
        <label for="niche" class="d-block fw-medium mb-2">Niche</label>
        <input type="text" required name="niche" placeholder="Campaign niche" {% if data.niche %} value="{{ data.niche }}" {% endif %} aria-label="niche" class="input">
    </div>

    <div class="mb-4">
        <label for="goals" class="d-block fw-medium mb-2">Goals</label>
        <textarea required name="goals" placeholder="Campaign goals" aria-label="goals" class="input">{% if data.goals %}{{ data.goals }}{% endif %}</textarea>
    </div>

    <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

        <button id="create_or_update_campaign_form_submit_button" data-loading="false" type="submit" class="btn btn-primary loader-container">
            <span class="children">Create</span>
            {% include 'ui/spinner.html' %}
        </button>
    </div>
</form>